In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [6]:
df = pd.read_csv('data_flats.csv', sep=';')

In [8]:
df.head()

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,ecology,price_doc
0,1,43,27.0,4.0,Bibirevo,5001.0,5,11065.0,5,0,...,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,14.053047,7.389498,good,5850000
1,2,34,19.0,3.0,Nagatinskij Zaton,3119.0,5,6237.0,8,0,...,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,6.829889,0.709260,excellent,6000000
2,3,43,29.0,2.0,Tekstil'shhiki,1463.0,4,5580.0,7,0,...,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,4.273200,3.156423,poor,5700000
3,4,89,50.0,9.0,Mitino,6839.0,9,17063.0,10,0,...,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,16.990677,16.041521,good,13100000
4,5,77,77.0,4.0,Basmannoe,3240.0,7,7770.0,9,0,...,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,1.112486,1.800125,excellent,16331452

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30469 entries, 0 to 30468
Data columns (total 56 columns):
id                                       30469 non-null int64
full_sq                                  30469 non-null int64
life_sq                                  24086 non-null float64
floor                                    30302 non-null float64
sub_area                                 30469 non-null object
preschool_quota                          23781 non-null float64
preschool_education_centers_raion        30469 non-null int64
school_quota                             23784 non-null float64
school_education_centers_raion           30469 non-null int64
school_education_centers_top_20_raion    30469 non-null int64
hospital_beds_raion                      16029 non-null float64
healthcare_centers_raion                 30469 non-null int64
university_top_20_raion                  30469 non-null int64
sport_objects_raion                      30469 non-null int64
additional_education_raion               30469 non-null int64
culture_objects_top_25_raion             30469 non-null int64
shopping_centers_raion                   30469 non-null int64
office_raion                             30469 non-null int64
metro_min_avto                           30469 non-null float64
metro_km_avto                            30469 non-null float64
metro_min_walk                           30444 non-null float64
metro_km_walk                            30444 non-null float64
kindergarten_km                          30469 non-null float64
school_km                                30469 non-null float64
park_km                                  30469 non-null float64
green_zone_km                            30469 non-null float64
industrial_km                            30469 non-null float64
railroad_station_walk_km                 30444 non-null float64
railroad_station_walk_min                30444 non-null float64
public_transport_station_km              30469 non-null float64
public_transport_station_min_walk        30469 non-null float64
mkad_km                                  30469 non-null float64
ttk_km                                   30469 non-null float64
sadovoe_km                               30469 non-null float64
bulvar_ring_km                           30469 non-null float64
kremlin_km                               30469 non-null float64
big_market_km                            30469 non-null float64
market_shop_km                           30469 non-null float64
fitness_km                               30469 non-null float64
swim_pool_km                             30469 non-null float64
ice_rink_km                              30469 non-null float64
stadium_km                               30469 non-null float64
basketball_km                            30469 non-null float64
hospice_morgue_km                        30469 non-null float64
university_km                            30469 non-null float64
workplaces_km                            30469 non-null float64
shopping_centers_km                      30469 non-null float64
office_km                                30469 non-null float64
additional_education_km                  30469 non-null float64
preschool_km                             30469 non-null float64
big_church_km                            30469 non-null float64
church_synagogue_km                      30469 non-null float64
theater_km                               30469 non-null float64
museum_km                                30469 non-null float64
ecology                                  30469 non-null object
price_doc                                30469 non-null int64
dtypes: float64(41), int64(13), object(2)
memory usage: 13.0+ MB

In [2]:
vis_data = pd.read_csv("train.csv", encoding = 'ISO-8859-1', low_memory = False)

In [16]:
vis_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250306 entries, 0 to 250305
Data columns (total 34 columns):
ticket_id                     250306 non-null int64
agency_name                   250306 non-null object
inspector_name                250306 non-null object
violator_name                 250272 non-null object
violation_street_number       250306 non-null float64
violation_street_name         250306 non-null object
violation_zip_code            0 non-null float64
mailing_address_str_number    246704 non-null float64
mailing_address_str_name      250302 non-null object
city                          250306 non-null object
state                         250213 non-null object
zip_code                      250305 non-null object
non_us_str_code               3 non-null object
country                       250306 non-null object
ticket_issued_date            250306 non-null object
hearing_date                  237815 non-null object
violation_code                250306 non-null object
violation_description         250306 non-null object
disposition                   250306 non-null object
fine_amount                   250305 non-null float64
admin_fee                     250306 non-null float64
state_fee                     250306 non-null float64
late_fee                      250306 non-null float64
discount_amount               250306 non-null float64
clean_up_cost                 250306 non-null float64
judgment_amount               250306 non-null float64
payment_amount                250306 non-null float64
balance_due                   250306 non-null float64
payment_date                  41113 non-null object
payment_status                250306 non-null object
collection_status             36897 non-null object
grafitti_status               1 non-null object
compliance_detail             250306 non-null object
compliance                    159880 non-null float64
dtypes: float64(13), int64(1), object(20)
memory usage: 64.9+ MB

In [27]:
state = vis_data.state.value_counts().index[0]
result = vis_data.state.fillna(state)

In [28]:
result

0         IL
1         MI
2         MI
3         MI
4         MI
          ..
250301    MI
250302    MI
250303    MI
250304    MI
250305    MI
Name: state, Length: 250306, dtype: object

In [29]:
df.dropna()

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,ecology,price_doc
0,1,43,27.0,4.0,Bibirevo,5001.0,5,11065.0,5,0,...,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,14.053047,7.389498,good,5850000
1,2,34,19.0,3.0,Nagatinskij Zaton,3119.0,5,6237.0,8,0,...,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,6.829889,0.709260,excellent,6000000
2,3,43,29.0,2.0,Tekstil'shhiki,1463.0,4,5580.0,7,0,...,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,4.273200,3.156423,poor,5700000
4,5,77,77.0,4.0,Basmannoe,3240.0,7,7770.0,9,0,...,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,1.112486,1.800125,excellent,16331452
6,7,25,14.0,10.0,Sokol'niki,933.0,5,5050.0,5,0,...,0.513689,0.067725,0.273019,0.516979,0.822377,0.318230,0.752223,2.969315,poor,5500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30461,30466,56,29.0,13.0,Severnoe Tushino,4116.0,5,9891.0,5,0,...,0.232778,1.491458,0.648281,0.193474,0.283044,2.040548,23.720332,12.198090,satisfactory,12000000
30462,30467,56,51.0,19.0,Sviblovo,2057.0,1,3741.0,2,0,...,0.187828,0.969990,0.510751,0.566309,1.261711,0.532268,3.672399,2.988268,poor,10262010
30465,30470,86,59.0,3.0,Tverskoe,1874.0,4,6772.0,4,1,...,0.540003,0.069986,0.086552,0.362681,0.850385,0.310021,0.778428,1.450108,poor,25000000
30467,30472,64,32.0,5.0,Obruchevskoe,2372.0,6,6083.0,8,0,...,1.108672,1.204798,1.340017,0.130667,1.644053,0.476021,2.088193,4.119706,satisfactory,13500000
30468,30473,43,28.0,1.0,Novogireevo,2215.0,4,5824.0,4,0,...,0.224601,2.108265,0.825811,0.378950,0.480531,0.867332,0.688707,0.127867,poor,5600000

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [38]:
vis_data[['balance_due']]

        balance_due
0             305.0
1              75.0
2               0.0
3               0.0
4               0.0
...             ...
250301          0.0
250302          0.0
250303          0.0
250304          0.0
250305          0.0

[250306 rows x 1 columns]

In [40]:
scaler.fit_transform(vis_data[['balance_due']]).min()

-13.147334652567258

In [2]:
#-------------

In [7]:
vis_data[vis_data.balance_due > 0]

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
5,22046,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","KASIMU, UKWELI",6478.0,NORTHFIELD,NaN,2755.0,E. 17TH,LOG BEACH,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
6,18738,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Deerwood Development Group Inc, Deer",8027.0,BRENTWOOD,NaN,476.0,Garfield,Clinton,...,0.0,855.0,0.0,855.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
7,18735,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Rafee Auto Services L.L.C., RAF",8228.0,MT ELLIOTT,NaN,8228.0,Mt. Elliott,Detroit,...,0.0,140.0,0.0,140.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250277,285034,Department of Public Works,"McClain, Melvin","MORRIS, KITAY",13924.0,WOODMONT,NaN,13924.0,WOODMONT AVE,DETROIT,...,0.0,580.0,0.0,580.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
250278,285106,Department of Public Works,"Zizi, Josue","LUNDY, ANTONIO R",20009.0,NORTHLAWN,NaN,18715.0,MARLOWE,DETROIT,...,0.0,250.0,0.0,250.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
250287,284650,Department of Public Works,"Lusk, Gertrina","HARDAWAY, WILLIE",15725.0,STEEL,NaN,NaN,P.O. BOX 27125,DETROIT,...,0.0,1130.0,0.0,1130.0,NaN,NO PAYMENT APPLIED,IN COLLECTION,NaN,non-compliant by no payment,0.0
250288,285125,Department of Public Works,"Bell, Maydell","CHRISTIAN CHURCH, BRIGHT STAR",7152.0,CHICAGO,NaN,7152.0,W. CHICAGO,DETROIT,...,0.0,580.0,0.0,580.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
250293,284333,Department of Public Works,"Granberry, Aisha B","AMERICAN INTERNATIONAL ASS. LL, .",15634.0,NOVARA,NaN,72.0,MANGROVE,CHICO,...,0.0,250.0,0.0,250.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0

In [10]:
np.sqrt(vis_data.balance_due[vis_data.balance_due > 0]).mean()
np.sqrt(vis_data.balance_due[vis_data.balance_due > 0]).median()

17.46424919657298

In [41]:
df_sa = df[(df.sub_area == 'Basmannoe') | (df.sub_area == 'Lefortovo')| (df.sub_area == 'Perovo')| (df.sub_area == 'Bogorodskoe')]
df_sa[['sub_area', 'price_doc']].groupby('sub_area').agg([max, min, 'median'])

            price_doc
                  max     min    median
sub_area
Basmannoe    45000000  990000  10450000
Bogorodskoe  24500000  990000   6200000
Lefortovo    21200000  990000   6700000
Perovo       20800000  990000   6000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30469 entries, 0 to 30468
Data columns (total 56 columns):
id                                       30469 non-null int64
full_sq                                  30469 non-null int64
life_sq                                  24086 non-null float64
floor                                    30302 non-null float64
sub_area                                 30469 non-null object
preschool_quota                          23781 non-null float64
preschool_education_centers_raion        30469 non-null int64
school_quota                             23784 non-null float64
school_education_centers_raion           30469 non-null int64
school_education_centers_top_20_raion    30469 non-null int64
hospital_beds_raion                      16029 non-null float64
healthcare_centers_raion                 30469 non-null int64
university_top_20_raion                  30469 non-null int64
sport_objects_raion                      30469 non-null int64
additional_education_raion               30469 non-null int64
culture_objects_top_25_raion             30469 non-null int64
shopping_centers_raion                   30469 non-null int64
office_raion                             30469 non-null int64
metro_min_avto                           30469 non-null float64
metro_km_avto                            30469 non-null float64
metro_min_walk                           30444 non-null float64
metro_km_walk                            30444 non-null float64
kindergarten_km                          30469 non-null float64
school_km                                30469 non-null float64
park_km                                  30469 non-null float64
green_zone_km                            30469 non-null float64
industrial_km                            30469 non-null float64
railroad_station_walk_km                 30444 non-null float64
railroad_station_walk_min                30444 non-null float64
public_transport_station_km              30469 non-null float64
public_transport_station_min_walk        30469 non-null float64
mkad_km                                  30469 non-null float64
ttk_km                                   30469 non-null float64
sadovoe_km                               30469 non-null float64
bulvar_ring_km                           30469 non-null float64
kremlin_km                               30469 non-null float64
big_market_km                            30469 non-null float64
market_shop_km                           30469 non-null float64
fitness_km                               30469 non-null float64
swim_pool_km                             30469 non-null float64
ice_rink_km                              30469 non-null float64
stadium_km                               30469 non-null float64
basketball_km                            30469 non-null float64
hospice_morgue_km                        30469 non-null float64
university_km                            30469 non-null float64
workplaces_km                            30469 non-null float64
shopping_centers_km                      30469 non-null float64
office_km                                30469 non-null float64
additional_education_km                  30469 non-null float64
preschool_km                             30469 non-null float64
big_church_km                            30469 non-null float64
church_synagogue_km                      30469 non-null float64
theater_km                               30469 non-null float64
museum_km                                30469 non-null float64
ecology                                  30469 non-null object
price_doc                                30469 non-null int64
dtypes: float64(41), int64(13), object(2)
memory usage: 13.0+ MB

In [45]:
pd.get_dummies(vis_data.state)

,AK,AL,AR,AZ,BC,BL,CA,CO,CT,DC,...,TX,UK,UT,VA,VI,VT,WA,WI,WV,WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250304,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
vis

In [52]:
from sklearn.preprocessing import PolynomialFeatures

pf = PolynomialFeatures(3)
poly_features = pf.fit_transform(vis_data[['balance_due', 'discount_amount']])
an_array = np.mean(poly_features, axis=0)
np.argmax(an_array, axis=0)

6

In [51]:
poly_features

array([[  1., 305.,   0., ...,   0.,   0.,   0.],
       [  1.,  75.,   0., ...,   0.,   0.,   0.],
       [  1.,   0.,   0., ...,   0.,   0.,   0.],
       ...,
       [  1.,   0.,   0., ...,   0.,   0.,   0.],
       [  1.,   0.,   0., ...,   0.,   0.,   0.],
       [  1.,   0.,   0., ...,   0.,   0.,   0.]])

In [61]:
np.argmax(np.mean(poly_features, axis=0))

6

In [62]:
vis_data

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250301,325555,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,SANTA MARIA,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250302,325557,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250303,325562,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250304,325559,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250305,325561,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [65]:
vis_data['weekday'] = vis_data.ticket_issued_date.apply(lambda x: x.to_datetime.dt.weekday)

AttributeError: 'str' object has no attribute 'to_datetime'

In [69]:
vis_data['ticket_issued_date'] = pd.to_datetime(vis_data.ticket_issued_date)

In [71]:
vis_data['weekday'] = vis_data.ticket_issued_date.dt.weekday

In [73]:
vis_data[vis_data.weekday >= 5]

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance,weekday
5,22046,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","KASIMU, UKWELI",6478.0,NORTHFIELD,NaN,2755.0,E. 17TH,LOG BEACH,...,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0,5
24,18736,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Pointe Services LTD, PO",18701.0,MACK,NaN,1871.0,Mack,Detroit,...,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,5
25,18737,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Pointe Services LTD, Poi",18701.0,MACK,NaN,1871.0,Mack,Detroit,...,0.0,130.0,0.0,2005-02-18 00:00:00,PAID IN FULL,NaN,NaN,not responsible by pending judgment disposition,NaN,5
26,19950,Health Department,"Jones, Leah","CHURCH OF GOD, METROPOLITAN",13400.0,SCHAEFER,NaN,134.0,SCHAFER,DETROIT,...,130.0,120.0,10.0,2010-01-26 00:00:00,PARTIAL PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0,5
2078,20663,Detroit Police Department,"Crawford, Kenneth","smith, joe l",19379.0,LAUDER,NaN,19379.0,lauder,detroit,...,85.0,0.0,85.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250260,284872,Detroit Police Department,"Black, Norma","JOHNSON, NANCY",19681.0,GALLAGHER,NaN,1931.0,KLINGER ST.,DETROIT,...,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,5
250261,284875,Detroit Police Department,"Black, Norma","JOHNSON, NANCY",19681.0,GALLAGHER,NaN,1931.0,KLINGER,DETROIT,...,140.0,0.0,140.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0,5
250262,284874,Detroit Police Department,"Black, Norma","JOHNSON, NANCY",19681.0,GALLAGHER,NaN,1931.0,KLINGER,DETROIT,...,140.0,0.0,140.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0,5
250263,284876,Detroit Police Department,"Black, Norma","JOHNSON, NANCY",19684.0,GALLAGHER,NaN,1931.0,KLINGER,DETROIT,...,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,5
250295,284883,Detroit Police Department,"Thornton, Vaughn","clavon, juan",19044.0,CHICAGO,NaN,726.0,bethune,detroit,...,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,5

In [75]:
df.ecology.unique()

array(['good', 'excellent', 'poor', 'satisfactory', 'no data'],
      dtype=object)

In [77]:
ecology_dict = {
    'excellent': 4,
    'good': 3,
    'satisfactory': 2,
    'poor': 1,
    'no data': 0
}

In [78]:
df.ecology = df.ecology.replace(to_replace=ecology_dict)

In [80]:
df.ecology.mean()

1.7282483836030063

In [87]:
pd.get_dummies(df.sub_area)

,Ajeroport,Akademicheskoe,Alekseevskoe,Altuf'evskoe,Arbat,Babushkinskoe,Basmannoe,Begovoe,Beskudnikovskoe,Bibirevo,...,Vnukovo,Vojkovskoe,Vostochnoe,Vostochnoe Degunino,Vostochnoe Izmajlovo,Vyhino-Zhulebino,Zamoskvorech'e,Zapadnoe Degunino,Zjablikovo,Zjuzino
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30465,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30466,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30467,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30468,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#-------

In [43]:
vis_data = vis_data[vis_data.balance_due > 0]

In [46]:
q1 = vis_data.balance_due.quantile(0.25)
q3 = vis_data.balance_due.quantile(0.75)
iqr = (q3 - q1)
uper = q3 + iqr*1.5
lower = q1 - iqr*1.5

In [47]:
lower

-107.5

In [39]:
uper

762.5

In [40]:
vis_data[vis_data.balance_due > uper]['balance_due'].max() - vis_data[vis_data.balance_due > uper]['balance_due'].min()

10260.0

In [42]:
vis_data.balance_due.describe()

count    249188.000000
mean        224.004481
std         606.422940
min           0.000000
25%           0.000000
50%          25.000000
75%         305.000000
max       11030.000000
Name: balance_due, dtype: float64

In [33]:
vis_data[vis_data.balance_due > uper]['balance_due'].min()

770.0